$primary: #1FDCED;
$warning: #581845;
$my_color: #581845;
$link-color: #581845;
$link-decoration: none;
$link-hover-decoration: underline;
$zindex-offcanvas: 1051;
// $enable-shadows:true;
// $progress-bar-bg: #581845;
// $progress-bar-animation-timing: 1s linear infinite;
