.gradient-background-image {
    background-image: linear-gradient(120deg, rgb(31,220,237,0.6), rgb(88,24,69,0.6));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
//   background: url("../img/fairy.jpeg");
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover; 

@import "_variables_overrides.scss";   // <-- ajouter cette ligne tout en haut du fichier

@import "_utilities_custom.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss"
